@{
    ViewBag.Title = ClothesShop.TranslationProvider.HomePage;
}

				<h2>@ClothesShop.TranslationProvider.SelectedCategory</h2> 
				<div id="innerContent">
					<div id="listView">
					</div>

					<div id="pager" class="k-pager-wrap">
					</div>
				</div>
    <script type="text/x-kendo-tmpl" id="template">
        <div class="product">
            <a href="/Product/ViewProduct/${ProductID}"><img src="/ProductPictures/${ImageFileName}" alt="${ProductName} image" />
            <h3>${ProductName}</h3>
            <p>${kendo.toString(UnitPrice, "c")}</p>
			</a>
        </div>
    </script>

    <script>
        $(document).ready(function () {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                    	url: "/Data/Products/4",
                        dataType: "json"
                    }
                },
                pageSize: 15
            });

            $("#pager").kendoPager({
                dataSource: dataSource
            });

            $("#listView").kendoListView({
                dataSource: dataSource,
                template: kendo.template($("#template").html())
            });
        });
    </script>

	

