@{
	ViewBag.Title = "Admin";
}

@if (Object.Equals(Session["IsAuthenticated"], true) && Object.Equals(Session["IsAdmin"], true))
{
	<div>
		@Html.ActionLink("Add Category", "AddCategory", "Admin")
	</div>
	<div>
		@Html.ActionLink("Remove Category", "RemoveCategory", "Admin")
	</div>
	<div>
		@Html.ActionLink("Add Subcategory", "AddSubcategory", "Admin")
	</div>
	<div>
		@Html.ActionLink("Remove Subcategory", "RemoveSubcategory", "Admin")
	</div>
}
else
{
	<h2> You don't have the permissions to view this page.</h2>
}
