@model ClothesShop.Models.RemoveSubcategoryModel
@{
    ViewBag.Title = "Remove Subcategory";
}

@if (Object.Equals(Session["IsAuthenticated"], true) && Object.Equals(Session["IsAdmin"], true))
{
	<h2>Remove Subcategory</h2>

	using (Html.BeginForm()) {
		<fieldset>
			<legend>Remove Subcategory</legend>

			<div class="editor-label">
				@Html.LabelFor(model => model.ID)
			</div>
			<div class="editor-field">
				@Html.DropDownListFor(model => model.ID, Model.Subcategories.Select(x => new SelectListItem() { Text = x.SubcategoryName, Value = x.ID.ToString() }))
			</div>

			<p>
				<input type="submit" value="Delete" />
			</p>
		</fieldset>
	}
	
	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
}
else
{
	<h2> You don't have the permissions to view this page.</h2>
}