@if(Object.Equals(Session["IsAuthenticated"], true)) {
    if(Object.Equals(Session["IsAdmin"], true)) 
    {      
        <text>  
        @Html.ActionLink(ClothesShop.TranslationProvider.Admin, "Index", "Admin") | 
        </text>
    }
    
    ClothesShop.Models.BasketModel basket = (ClothesShop.Models.BasketModel)Session["Basket"];
    
    @Html.ActionLink(String.Format(ClothesShop.TranslationProvider.Basket + "({0})", basket.Count), "Index", "Basket")
}
else
{
	<span>
        @Html.ActionLink(ClothesShop.TranslationProvider.SignIn, "LogOn", "Account") | 
        @Html.ActionLink(ClothesShop.TranslationProvider.Register, "Register", "Account")
    </span>
}
