@if(Object.Equals(Session["IsAuthenticated"], true)) {
    if(Object.Equals(Session["IsAdmin"], true)) 
    {      
        <text>  
        @Html.ActionLink("ADMIN", "Index", "Admin") | 
        </text>
    }
    
    ClothesShop.Models.BasketModel basket = (ClothesShop.Models.BasketModel)Session["Basket"];
    
    @Html.ActionLink(String.Format("BASKET({0})", basket.Count), "Index", "Basket")
}
else
{
	<span>
        @Html.ActionLink("SIGN IN", "LogOn", "Account") | 
        @Html.ActionLink("SIGN UP", "Register", "Account")
    </span>
}
